
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/styles.css" >
<header>
    <div class="nav row container flex-item justify-content-around">
        <div class="p-2 title-header col-sm-9">
        </div>

        <div class="nav row">
            <div class="col-md-3">
                <a href='/'>Users</a>
            </div>
            <div class="col-md-9">
                <a href='/add?newMethod=POST'>Add User</a>
            </div>
            
        </div>
    </div>
</header>